<html>
    <head>
        <title>
            <%= title%>
        </title>
        </head>
        <body>
            <h2 style="text-align: center;"> trying out another page</h2>
        </body>
    
</html>